{% if oauth.has_google_auth or oauth.has_facebook_auth or oauth.has_github_auth %}
    <div class="auth-oauth">
        <div class="auth-divider"><span>{{ _('Or continue with') }}</span></div>
        <div class="auth-oauth-buttons">
            {% if next is not defined %}
                {% set next = '' %}
            {% endif %}
            {% if oauth.has_google_auth %}
                <a href="{{ url('social:begin', "google-oauth2") }}?next={{ next }}"
                   class="auth-oauth-btn oauth-google">
                    <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                    <span>Google</span>
                </a>
            {% endif %}
            {% if oauth.has_facebook_auth %}
                <a href="{{ url('social:begin', "facebook") }}?next={{ next }}"
                   class="auth-oauth-btn oauth-facebook">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <span>Facebook</span>
                </a>
            {% endif %}
            {% if oauth.has_github_auth %}
                <a href="{{ url('social:begin', "github-secure") }}?next={{ next }}"
                   class="auth-oauth-btn oauth-github">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                    <span>GitHub</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}
