{% extends "problem/editor.html" %}

{% block body %}
<div class="form-shell form-shell--wide">
    <div class="form-shell__head">
        <div class="form-shell__icon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
        <div>
            <h2 class="form-shell__title">{{ _('Create a new problem') }}</h2>
            <p class="form-shell__subtitle">{{ _('Fill in the details below. Fields marked with * are required.') }}</p>
        </div>
    </div>

    {% if request.path == url('problem_suggest') %}
        <div class="alert alert-warning alert-dismissable">
            <a class="close">x</a>
            <b>{{ _('Thanks for suggesting problem!') }}</b>
            <br>
            {{ _('Please keep in mind that this form is only for creating new problems. Spamming and using for wrong purposes is not allowed.') }}
            <br>
            {{ (_('If you don\'t know how to suggest a problem, please read [guide][0].') + '\n\n  [0]: /about/suggest_guide/')|markdown('blog', strip_paragraphs=True) }}
        </div>
    {% endif %}
    {% if perms.judge.import_polygon_package %}
        <div class="alert alert-info alert-dismissable">
            <a class="close">x</a>
            <a href="{{ url('problem_import_polygon') }}">{{ _('Import problem from Codeforces Polygon package') }}</a>
        </div>
    {% endif %}
    <form action="" method="post" class="form-area form-shell__body" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="django-as-table">{{ form.as_table() }}</table>
        <div class="form-shell__actions">
            <a href="{{ url('problem_list') }}" class="button btn-secondary">{{ _('Cancel') }}</a>
            <input type="submit" value="{{ _('Create') }}" class="button">
        </div>
    </form>
</div>
{% endblock %}
