<script src="{{ static('libs/featherlight/featherlight.min.js') }}" type="text/javascript"></script>
{% compress js %}
    <script type="text/javascript">
        $(document).ready(function () {
            function ajax_vote(url, id, delta, on_success) {
                return $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        id: id
                    },
                    success: function (data, textStatus, jqXHR) {
                        var score = $('#post-' + id + ' #post-score').first();
                        score.text(parseInt(score.text()) + delta);
                        if (typeof on_success !== 'undefined')
                            on_success();
                    },
                    error: function (data, textStatus, jqXHR) {
                        alert('Could not vote: ' + data.responseText);
                    }
                });
            }

            var get_$votes = function (id) {
                var $post = $('#post-' + id);
                return {
                    upvote: $post.find('.upvote-link').first(),
                    downvote: $post.find('.downvote-link').first(),
                };
            };

            window.blog_upvote = function (id) {
                ajax_vote('{{ url('blog_upvote') }}', id, 1, function () {
                    var $votes = get_$votes(id);
                    if ($votes.downvote.hasClass('voted'))
                        $votes.downvote.removeClass('voted');
                    else
                        $votes.upvote.addClass('voted');
                });
            };

            window.blog_downvote = function (id) {
                ajax_vote('{{ url('blog_downvote') }}', id, -1, function () {
                    var $votes = get_$votes(id);
                    if ($votes.upvote.hasClass('voted'))
                        $votes.upvote.removeClass('voted');
                    else
                        $votes.downvote.addClass('voted');
                });
            };

            $('votes-link').find('a[data-featherlight]').featherlight();

            // Per-post collapse. Canonical here so the toggle works anywhere
            // blog-post.html is rendered (newsfeed + user blogs). State persists
            // per-post in localStorage. The "collapse all" control on the
            // newsfeed reuses window.blogCollapse.* below.
            var COLLAPSE_KEY = 'newsfeed_collapsed_posts';
            function readCollapsed() {
                try {
                    return JSON.parse(localStorage.getItem(COLLAPSE_KEY)) || {};
                } catch (e) {
                    return {};
                }
            }
            function writeCollapsed(state) {
                try {
                    localStorage.setItem(COLLAPSE_KEY, JSON.stringify(state));
                } catch (e) { /* storage unavailable; collapse still works per-session */ }
            }
            function setCollapsed($post, collapsed) {
                var $toggle = $post.find('.blog-collapse-toggle').first();
                var $icon = $toggle.find('i');
                $post.toggleClass('collapsed', collapsed);
                $toggle.attr('aria-expanded', collapsed ? 'false' : 'true');
                $toggle.attr('title', collapsed ? gettext('Expand') : gettext('Collapse'));
                $icon.toggleClass('fa-chevron-up', !collapsed);
                $icon.toggleClass('fa-chevron-down', collapsed);
            }

            function setAllCollapsed(collapsed) {
                var state = readCollapsed();
                $('.post').each(function () {
                    var $post = $(this);
                    setCollapsed($post, collapsed);
                    if (collapsed) {
                        state[$post.attr('id')] = true;
                    } else {
                        delete state[$post.attr('id')];
                    }
                });
                writeCollapsed(state);
            }

            window.blogCollapse = {
                read: readCollapsed,
                write: writeCollapsed,
                set: setCollapsed,
                setAll: setAllCollapsed,
            };

            var collapsedState = readCollapsed();
            $('.post').each(function () {
                if (collapsedState[this.id]) {
                    setCollapsed($(this), true);
                }
            });

            $(document).on('click', '.blog-collapse-toggle', function (e) {
                e.preventDefault();
                var $post = $(this).closest('.post');
                var collapsed = !$post.hasClass('collapsed');
                setCollapsed($post, collapsed);
                var state = readCollapsed();
                if (collapsed) {
                    state[$post.attr('id')] = true;
                } else {
                    delete state[$post.attr('id')];
                }
                writeCollapsed(state);
                $(document).trigger('blog:collapse-changed');
            });
        });
    </script>
{% endcompress %}
