<div class="blog-sidebox sidebox">
    <h3>
        <span>{{ _('Top contributors') }}</span>
    </h3>
    <div class="sidebox-content leaderboard-content">
        <ol class="leaderboard-podium">
            {% for user in top_contrib %}
                <li class="podium-row podium-row--{{ loop.index }}">
                    <span class="podium-rank">
                        {%- if loop.index <= 3 -%}
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                        {%- else -%}
                            {{ loop.index }}
                        {%- endif -%}
                    </span>
                    <img class="podium-avatar" src="{{ gravatar(user, 40) }}" loading="lazy" alt="">
                    <span class="podium-name">{{ link_user(user) }}</span>
                    <span class="podium-value podium-value--contrib">
                        <i class="fa fa-heart" aria-hidden="true"></i> {{ user.contribution_points }}
                    </span>
                </li>
            {% endfor %}
        </ol>
        <div class="leaderboard-footer-wrap">
            <table class="table bottom leaderboard-footer">
                <tbody>
                    <tr>
                        <td class="right"><a href="{{ url('contributors_list') }}">{{ _('View all') }} >>></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
